<article class="full-article">
	<main class="text-box">
		<p class="article-title">
			{{title}}
		</p>
	
		<p class="article-text">
			{{text}}
		</p>
	</main>
	<img class="article-img" src={{image}}></img>
</article>
