{{! This will have the bar with all the links}}

<ul class="navlist">
	<li class="navlink"><a href="./">Home</a></li>
	<li class="navlink"><a href="./Founding">Founding</a></li>
	<li class="navlink"><a href="./OSU">OSU</a></li>
</ul>
