<!DOCTYPE html>
<html>
	<head>
		<title>Kappa Sigma - Gamma Sigma</title>

		<link rel="stylesheet" href="/style.css" media="screen">	
	</head>

	<body>
		

		
		{{{body}}}



	</body>


	<script src="/index.js"></script>

</html>
