{{! This is the base for the page for making a new article }}

{{> header}}

{{> navbar}}

<div>
	<label class="new-article-lable" for="article-title-name">Title</label>
	<input type="text" id="article-title-name">
</div>
<div>
	<label class="new-article-lable" for="article-text-content">Enter article text here</label>
	<textarea id="article-text-content"></textarea>
</div>
<div>
	<label class="new-article-lable" for="article-img-content">Enter image url here</label>
	<input type="text" id="article-img-content">
</div>
<button type="button" id="submit-article">Submit</button>

