a, a:visited, a:active, a:link{
	text-decoration-color: inherit;
	test-decoration: inherit;
	color: inherit;
	cursor: inherit;
}

.navbar {
	display: -webkit-flex;
	background-color: rgba(145, 48, 49, 0.8);
	width: 100vw;
	height: 15vh;
	margin: -8px;	
	min-height: 140px;
}

.navlist {
	display: -webkit-flex;
	background-color: rgba(11, 95, 59, 0.8);
	height: 30px;
	width: 100vw;
	margin-left: -8px;
	margin-top: 8px;
	list-style-type: none;
}

.logo {
	min-height: 130px;
	max-width: 100px;
	margin: 5px;
	height: 13vh;
	width: 6wh;
}

.title{
	font-family: Georgia;
	color: white;
	padding-left: 30px;
	text-shadow: 1px 0 black, 1px 0 black, 1px 0 black;
	font-size 2em;
	white-space: nowrap;
	overflow: hidden;
}

.navlink{
	font-family: Arial;
	padding-top: 4px;
	padding-left: 10px;
	text-decoration-color: #3c7f62;
	color: rgb(227, 176, 83);
	cursor: inherit;
}

.navlink:hover{
	color: white;
}

.full-article{
	display: -webkit-flex;
	justify-content: space-between;
}

.text-box{
	padding: 10px;
	flex-basis: 45%;

}

.article-title{
	font-weight: bold;
	font-family: Verdana;
}

.article-text{
	font-family: Arial;
}

.article-img{
	padding: 10px;
	flex-basis: 40%;
	max-width: 40vw;
	max-height: 30vw;
	height: auto;
	width: auto;
	flex-basis: initial;
}

.endcard-text{
	font-size: 12px;
	text-align: center;
}

#article-title-name,
#article-text-content,
#article-img-content{
	display: flex;
	margin: 10px;
}

#submit-article{
	color: #e3ab5c;
	background-color: #3c7f62;
	font-weight: bold;
	display: inline-block;
	font-size: 20px;
	border-radius: 16px;
	border: 2px solid black;
}

#submit-article:hover{
	color: white;
	cursor: pointer;
}

.new-article-lable{
	margin: 10px;
	font-weight: 500;
	font-family: Arial;
}
